body {
            font-family: 'Roboto', sans-serif;
            background-color: #f4f4f4; /* Light Background Color */
            min-height: 100vh; /* Ensure the page takes at least the full viewport height */
            display: flex;
            flex-direction: column;
        }

        /* Navbar Customization */
        .navbar-custom {
            background-color: #333; /* Dark Navbar Color */
        }

        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-nav .nav-link {
            color: #fff; /* White Text Color */
        }

        .navbar-custom .navbar-toggler-icon {
            background-color: #fff; /* White Color for Toggle Icon */
        }

        .navbar-custom .nav-link i {
            margin-right: 5px;
        }

        /* Footer Customization */
        .footer-custom {
            background-color: #333; /* Dark Footer Color */
            color: #fff; /* White Text Color */
            text-align: center;
            padding: 20px 0;
            margin-top: auto; /* Push the footer to the bottom */
        }