{%extends 'cars/base.html'%}

{%block content%}
<!-- Main Content Goes Here -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><b>Registration</b></div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for f in form %}
                        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                        {%if f.errors%}
                        <div class="error-block">{{ f.errors }}</div>
                        {%endif%}
                        {% endfor %}

                        <button class="button-80" role="button" type="submit">Send a complaint</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}