{% extends 'cars/base.html' %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Profile</div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <h2>{{ user.username }}</h2>
                        <h2>{{ user.email }}</h2>
                        <h2>{{ user.password }}</h2>

                        <button type="submit" class="button-80">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}