{% extends 'cars/base.html' %}
{%load static%}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><b>Registration</b></div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for f in form %}
                        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                        {%if f.errors%}
                        <div class="error-block">{{ f.errors }}</div>
                        {%endif%}
                        {% endfor %}
                        <button type="submit" class="button-80">Save Changes</button>


                    </form>
                    <p class="mt-3">Already have an account? <a href="{% url 'users:login' %}">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}